.header__top
  %p.header__top--text
    ALL's PAGE
.header__middle
.header__bottom

.store__middle
  .store__contents
    .store__content
      - for i in 1..9
        .store__content__child
          %img.store__content__image{src:  "/assets/YADO_CAFE.jpg"}
          %h2.store__content__name
            %a
              = link_to new_genre_path do
                YARD Coffee & Craft Chocolate
          %p.store__content__address 大阪府大阪市天王寺区茶臼山町１−３
      