.header__top
  %p.header__top--text
    Cafe's PAGE
.header__middle
.cp_cont
  .cp_offcm01
    -# %input#cp_toggle01.fas.fa-bars
    %input#cp_toggle01{:type => "checkbox"}/
    %label{:for => "cp_toggle01"}
      %span
    .cp_menu
      %ul
        %li
          %a{:href => "#"} menu1
        %li
          %a{:href => "#"} menu2
        %li
          %a{:href => "#"} menu3
        %li
          %a{:href => "#"} menu4
        %li
          %a{:href => "#"} menu5
  .cp_contents

.store__middle