.header__top
  %p.header__top--text
    New Post PAGE
.header__middle
.header__bottom

.form
  %form{action: :create, method: :post}
    .form__contents
      %img.form__image{src: "/assets/YADO_CAFE.jpg"}
      .form__detail
        .form__genre
          ジャンル
          %p
            %label
              %input.with-gap{:checked => "checked", :name => "group3", :type => "radio"}/
              %span Chocolate
          %p
            %label
              %input.with-gap{:checked => "checked", :name => "group3", :type => "radio"}/
              %span Cake
          %p
            %label
              %input.with-gap{:checked => "checked", :name => "group3", :type => "radio"}/
              %span Cafe
          %p
            %label
              %input.with-gap{:checked => "checked", :name => "group3", :type => "radio"}/
              %span Bread
        .col.s12
          .row
            .input-field.col.s12
              %i.fas.fa-coffee.fa-lg.fa-fw.prefix
              %input#autocomplete-input.autocomplete{:type => "text"}/
              %label{:for => "autocomplete-input"} 名前
        .col.s12
          .row
            .input-field.col.s12
              %i.fas.fa-coffee.fa-lg.fa-fw.prefix
              %input#autocomplete-input.autocomplete{:type => "text"}/
              %label{:for => "autocomplete-input"} 住所
        .col.s12
          .row
            .input-field.col.s12
              %i.fas.fa-coffee.fa-lg.fa-fw.prefix
              %input#autocomplete-input.autocomplete{:type => "text"}/
              %label 電話番号
        .col.s12
          .row
            .input-field.col.s12
              %i.fas.fa-coffee.fa-lg.fa-fw.prefix
              %input#autocomplete-input.autocomplete{:type => "text"}/
              %label 特徴
        .col.s12
          .row
            .input-field.col.s12
              %i.fas.fa-coffee.fa-lg.fa-fw.prefix
              %input#autocomplete-input.autocomplete{:type => "text"}/
              %label 開店時間
        .col.s12
          .row
            .input-field.col.s12
              %i.fas.fa-coffee.fa-lg.fa-fw.prefix
              %input#autocomplete-input.autocomplete{:type => "text"}/
              %label 閉店時間
      .form__detail.form__detail-2
        .col.s12
          .row
            .input-field.col.s12
              %i.fas.fa-coffee.fa-lg.fa-fw.prefix
              %input#autocomplete-input.autocomplete{:type => "text"}/
              %label オススメ
        .col.s12
          .row
            .input-field.col.s12
              %i.fas.fa-coffee.fa-lg.fa-fw.prefix
              %input#autocomplete-input.autocomplete{:type => "text"}/
              %label 使用金額
        .col.s12
          .row
            .input-field.col.s12
              %i.fas.fa-coffee.fa-lg.fa-fw.prefix
              %input#autocomplete-input.autocomplete{:type => "text"}/
              %label URL
        .col.s12
          .row
            .input-field.col.s12
              %i.fas.fa-coffee.fa-lg.fa-fw.prefix
              %textarea#textarea1.materialize-textarea
              %label{:for => "textarea1"} 備考
        -# %img.form__map{src: "/assets/なんばスカイオmap.jpg"}
    -# %input.form__jenre{type: "radio", name: :jenre, :size => "50"}
    -# %i.fa.fa-user.fa-lg.fa-fw{"aria-hidden": "true"}
    -# %input.form__name{name: :name, :size => "50", placeholder: "名前"}
    -# %i.fas.fa-coffee.fa-lg.fa-fw{"aria-hidden": "true"}
    -# %input.form__address{name: :address, :size => "50", placeholder: "住所"}
    -# %i.fas.fa-coffee.fa-lg.fa-fw{"aria-hidden": "true"}
    -# %input.form__phone-number{name: :number, :size => "50", placeholder: "電話番号"}
    -# %i.fas.fa-coffee.fa-lg.fa-fw{"aria-hidden": "true"}
    -# %input.form__features{name: :features, :size => "50", placeholder: "特徴"}  
    -# %i.fas.fa-coffee.fa-lg.fa-fw{"aria-hidden": "true"}
    -# %input.form__opentime{name: :opentime, :size => "50", placeholder: "開店時間"}
    -# %i.fas.fa-coffee.fa-lg.fa-fw{"aria-hidden": "true"}
    -# %input.form__closetime{name: :closetime, :size => "50", placeholder: "閉店時間"}
    -# %i.fas.fa-coffee.fa-lg.fa-fw{"aria-hidden": "true"}
    -# %input.form__recommendation{name: :recommendation, :size => "50", placeholder: "オススメ"}
    -# %i.fas.fa-coffee.fa-lg.fa-fw{"aria-hidden": "true"}
    -# %input.form__price{name: :price, :size => "50", placeholder: "使用金額"}
    -# %i.fas.fa-coffee.fa-lg.fa-fw{"aria-hidden": "true"}
    -# %input.form__url{name: :url, :size => "50", placeholder: "URL"}
    -# %i.fas.fa-coffee.fa-lg.fa-fw{"aria-hidden": "true"}
    
    -# %textarea.form__note{name: :note, :size => "100", placeholder: "備考"}
      