
.form{
  width: 100%;
}

.form__contents{
  display: flex;
  padding: 100px;
}

.form__genre{
  height: 120px;
  padding-left: 20px;
}

.form__image{
  position: relative;
  width: 400px;
}

.form__detail{
  position: absolute;
  width: 400px;
  margin-left: 400px;
}

.form__detail-2{
  padding-top: 120px;
  margin-left: 800px;
}

.form__map{
  position: relative;
  width: 400px;
}
