.footer
  = link_to 'https://www.facebook.com/' do
    %i.fab.fa-facebook-square
  = link_to 'https://www.instagram.com/' do
    %i.fab.fa-instagram
  = link_to 'https://twitter.com/' do
    %i.fab.fa-twitter-square

