#wrapper
  %p.btn-gnavi
    %span
    %span
    %span
  %nav#global-navi
    %ul.menu
      %li
        %a{href: ""} トップページ
      %li
        %a{href: new_user_registration_path} ログイン
      %li
        %a{href: ""} 投稿
      %li
        %a{href: ""} 検索
      %li
        %a{href: ""} その他
